*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
:root {
    --bg_green: rgba(7,45,35,1);
  }
  
.login
{
    background-image: url(/assests/mm/login.png);
    min-height: 100vh;
    width: 100%;
     background-size: cover;
    position: relative ;
}
/* img{

    height:85%;
    width:100%;
} */