*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;

}
:root {
    --bg_green: rgba(7,45,35,1);
  }
  
.login
{
    background-image: url(../images/login.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative ;
}
.login_text
{     
		position: relative;
		overflow: visible;
		font-size: 100px;
		text-align: left;
		font-style: normal;
		font-weight: 500;
		color: #072D23;
        padding-left: 200px;
        padding-top:50px
}
.login_details
{
    position: relative;
    text-align: center;
    margin-top: 10%;
}
input
{
        border-radius: 15px;
        border-width: 0px;
        outline:none;
        width: 400px;
        height: 40px;
        display: block;
        margin:auto;
        margin-bottom:1.5em;
} 
input::-webkit-input-placeholder
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 400px;
    height: 35px;
    outline: none;
    text-align: center;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learn-more {
    font-weight: 500;
    text-align: center;
    color: #072D23;
    text-transform: uppercase;
    padding-left: 1.5rem;
    background: #F9FF3A;
    border-radius: 60px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
  button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F89B02;
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0.5em, -1em);
            transform: translate3d(0, 0.5em, -1em);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
  button.learn-more:hover {
    background: #F9FF3A;
    -webkit-transform: translate(0, 0.25em);
            transform: translate(0, 0.25em);
  }
  
  button.learn-more:active {
    background: #F9FF3A;
    -webkit-transform: translate(0em, 0.75em);
            transform: translate(0em, 0.75em);
  }
  
  button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #F89B02, 0 0 #ffe3e2;
            box-shadow: 0 0 0 2px #F89B02, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
            transform: translate3d(0, 0, -1em);
}

.unselect{
        user-select: none;
}