<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in model %}
      {% ifequal i.course course %}
        {% ifequal i.semester semester %}
        {% endifequal i.subject subject %}
          <p>Name: {{i.name}}</p>
          <p>Descreption: {{i.description}}</p> <hr>
        {% endifequal %}
      {% endifequal %}
    {% endfor %}
</body>
</html>