<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Document</title>
</head>
<body>
    {% if message %}
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
        const notyf = new Notyf({
            duration: 5000,
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: 'indianred',
                    duration: 3000,
                    dismissible: true
                }
            ]
        });
        notyf.error('{{message}}');
    </script>
    {% endif %}

    <h1>Dashboard</h1> <br> <hr>
    <h3>Welcome {{ user.username }}</h3>
</body>
</html>