<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@600&family=Signika+Negative&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>

<body>
    <section class="login">
        <div class="login_text unselect">
            login
        </div>
        {% if error %}
            <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
            <script>
                const notyf = new Notyf({
                        duration: 5000,
                        position: {
                            x: 'center',
                            y: 'top',
                        },
                        types: [
                            {
                                type: 'error',
                                background: 'indianred',
                                duration: 3000,
                                dismissible: true
                            }
                        ]
                    });
                    notyf.error('Invalid login credential');
            </script>
        {% endif %}
        <div class="login_details">
            <form id="login_frm" action='{% url 'login' %}' method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="Uname" placeholder="username">
                <input type="Password" name="password" id="Pass" placeholder="password">
                <div class="Group_btn unselect">
                    <button class="learn-more">Log In</button>
                </div>
            </form>
        </div>
    </section>

</body>

</html>